
.home{
    justify-content: center;
}

.homehome{
    border-bottom: rgba(0, 0, 0, 0) solid 1px;
}

#scrollToSee{
  color: white;
  padding-top: 5.5%;
  animation-duration: 5s;
  animation-name: fadeInOpacity;
}


#idChoto{
  text-decoration: none;
}

#botonRaro{
  text-decoration: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.137);
}

#tituloHome{
    align-self: center;
    padding-top: 10rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    animation-duration: 5s;
    animation-name: fadeInOpacity;
  }

#buttonStart{
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.5em;
    outline: none;
    text-align: center;
    animation-name: fadeInOpacity;
	  animation-iteration-count: 1;
    animation-duration: 5s;
    animation-name: fadeInOpacity;
    color: white;
    background-color: rgba(0, 0, 0, 0.13);
    border: solid 1px rgba(255, 255, 255, 0.74);
}

#buttonStart:hover{
    background-color: rgba(0, 0, 0, 0.205);
}



#buttonStart:active{
    background-color: rgba(0, 204, 255, 0.185);
}



@keyframes float {
	0% {
		transform: translatey(0em);
	}
	50% {
		transform: translatey(-0.6em);
	}
	100% {
		transform: translatey(0em);
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}

  @keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }